@tailwind base;
@tailwind components;
@tailwind utilities;

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* change the color of the scrollbar */
::-webkit-scrollbar {
  width: 7.5px;
}

::-webkit-scrollbar-thumb {
  background-color: #1f1f1f;
  border-radius: 2em;
}

::-webkit-scrollbar-button {
  background-color: rgb(56, 56, 56);
}

::-webkit-scrollbar-track {
  background-color: rgb(56, 56, 56);
}

audio::-webkit-media-controls-panel {
  background-color: #a68bca;
}
